[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
pyinstaller = "*"
bilibili-api-python = "*"
aiofiles = "*"
dataclasses-json = "*"
playsound = "*"

[dev-packages]

[requires]
python_version = "3.8"
